doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Raspi
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="mobile-web-app-capable", content="yes")
        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="icon", sizes="196x196", href="/ic_launcher_raspi_196.png")
        link(rel="icon", sizes="128x128", href="/ic_launcher_raspi_128.png")
        
        link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Roboto:400,500', type='text/css')
        link(rel="stylesheet", href="/css/app.css")
    body.js-app(class=rApp.player.queue.length > 0 ? "playing" : "")
        div.list.js-list
            header
                a.action.left.js-open-menu(href="#")
                    i.sp.sp-action.sp-menu
                a.action.right.js-open-player(href="#")
                    i.sp.sp-action.sp-player
                h1 Playlists
            div.content.cf
                each pl in rApp.playlists
                    a.list-item.js-list-item(href=pl.link, style="background-image: url('"+pl.image+"')")
                        div.info
                            i.sp.sp-fade
                            em= pl.name
        div.overlay.js-overlay
        div.menu.js-menu .
        div.search.js-search
            header
                a.action.left.js-close-player(href="#")
                    i.sp.sp-action.sp-close
                h1 Buscar
            div.content.cf ---
        div.warning.js-warning Error de conexión
        div.player.js-player(id=rApp.player.nowplaying.id)
            div.cover
                img.js-album-art(src="http://houbi.com/belpop/media/hooverphonic.jpg", width="100", height="100")
                a.js-control-play(href="#",style=rApp.player.playing ? "display: none;" : "")
                    i.sp.sp-play
                a.js-control-pause(href="#",style=rApp.player.playing ? "" : "display: none;")
                    i.sp.sp-pause
            div.info
                i.sp.sp-random
                div.label.song.js-song= rApp.player.nowplaying.song
                div.label.duration.js-duration= (rApp.player.nowplaying.duration)
                div.label.artist.js-artist= rApp.player.nowplaying.artist

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')
        script(src="/socket.io/socket.io.js")
        script(src="/js/app.js")
